{% extends 'base.html.twig' %}

{%  block body %}
<div class="container-fluid" id="home">
    <div class="content container vh-100">
        <div class="row vh-100 align-items-center text-center d-flex flex-wrap">
            <div>
                <h1 class="display-1">Trouvez le cadeau idéal</h1>
                <div class="d-flex flex-wrap justify-content-center mt-5">
                    <a class="btn col-12 col-md-4 mb-4 mb-md-0 me-md-5 py-3"  href="">Créer une famille</a>
                    <a class="btn col-12 col-md-4 py-3" href="">Rejoindre une famille</a>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="bg-overlay"></div>
</div>

{% endblock %}
