#home{

  .btn{
    background-color: #7e0f12;
    color:white;
    &:hover{
      color:white;
    }
  }

  .overlay{
    background-color:rgba(255,255,255,0.8);
  }

  background-image: url('../../public/images/bg_home.jpg');
}

